.button {
  padding: 15px 40px;
  color: var(--color-background);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .button {
    margin: 0;
  }
}
.button:hover {
  background-color: var(--color-accent);
  color: #fff;
  border: 1px solid var(--color-accent);
}

button {
  border: unset;
  cursor: pointer;
}

.button-italic {
  font-style: italic;
  text-decoration: underline;
  background: none;
}

.button-accent {
  background-color: var(--color-accent);
  padding: 15px 20px;
}

.slide-show-button {
  position: absolute;
  bottom: 30px;
  z-index: 11;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.slide-show-button__next, .slide-show-button__prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s;
}
.slide-show-button__next:hover, .slide-show-button__prev:hover {
  background-color: var(--color-accent);
  color: #fff;
}

.button-border {
  padding: 15px 40px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: 0.3s all;
}
@media (max-width: 991px) {
  .button-border {
    margin: 0;
  }
}
.button-border:hover {
  background-color: var(--color-accent);
  color: #fff;
  border: 1px solid var(--color-accent);
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding-top: 45px;
  background-image: url(../images/patern.png);
}

.footer__box-content {
  padding-top: 35px;
}

.footer__description, .footer__phone, .footer__address {
  padding-bottom: 20px;
}

.footer__link-list {
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
}
.footer__link-list::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: var(--color-background);
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__item-link li {
  padding-top: 20px;
}
.footer__item-link li a {
  transition: 0.3s all ease;
}
.footer__item-link li:hover a {
  padding-left: 10px;
  color: var(--color-accent);
}

.footer__border {
  border-bottom: 0.15px solid #fff;
  padding-bottom: 25px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header {
  background-color: var(--color-primary);
  color: #fff;
}

.header-menu {
  display: flex;
  justify-content: center;
}
.header-menu .header-menu__item {
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-menu {
    display: none;
  }
}

.header-icon {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header-icon__avata {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.header-icon__box {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icon__search,
.header-icon__avata,
.header-icon__wishlist,
.header-icon__cart {
  margin: 0 10px;
  cursor: pointer;
}

.header-icon__cart {
  margin-right: 0;
  line-height: 0;
}

.header-icon__search {
  margin-left: 0;
}

.header--transparent {
  background-color: transparent;
}

.header--fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 991px) {
  .header__logo {
    order: 1;
  }
}

@media (max-width: 991px) {
  .header-icon {
    order: 1;
  }
}

.hamburger-menu {
  display: none;
}
@media (max-width: 991px) {
  .hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }
}

.header__logo-green {
  display: none;
}

.logo-block {
  display: block;
}

.logo-hidden {
  display: none;
}

.header-fixed {
  background-color: #fff;
  animation: translate-header 1s ease;
  transition: 0.5s all ease;
  color: var(--color-foreground);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.header-fixed svg path {
  fill: var(--color-foreground);
}

@keyframes translate-header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.sidebar {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1199px) {
  .sidebar {
    max-width: 235px;
  }
}

.sidebar-box {
  background-color: var(--bgbg-light);
  border-radius: 5px;
  padding: 20px 30px;
  width: 100%;
}

.sidebar-box__title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0.44px;
  color: var(--text-heading);
}

.sidebar-box__content {
  position: relative;
  line-height: 1.7;
  letter-spacing: -0.3px;
  align-items: start;
}
@media (max-width: 576px) {
  .sidebar-box__content {
    font-size: 16px;
  }
}

.sidebar-box__content i {
  position: absolute;
  right: 45px;
  top: 33%;
  cursor: pointer;
}

.sidebar-box__content--gap {
  gap: 15px;
  padding-bottom: 20px;
  font-family: "SVN-Gilroy";
  transition: all 0.3s ease-in-out;
}
.sidebar-box__content--gap:nth-last-child(1) {
  padding-bottom: 0;
}
.sidebar-box__content--gap:hover {
  color: var(--text-heading);
  scale: 1.1;
}

@media (max-width: 1199px) {
  .sidebar-box__img {
    width: 100%;
  }
}

.sidebar-box__content--tags {
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 999px) {
  .sidebar--flex {
    max-width: 100%;
  }
}

.back {
  position: absolute;
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 370px;
  z-index: -1;
}
.back::before {
  content: "";
  position: absolute;
  background-color: var(--text-dark-alt, #321370);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}

.sidebar-box--bg {
  padding: 0;
  position: relative;
  border-radius: 5px;
}
.sidebar-box--bg::before {
  content: "";
  position: absolute;
  background-color: var(--text-dark-alt, #321370);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.7;
}
@media (max-width: 999px) {
  .sidebar-box--bg {
    width: unset;
  }
}

.siderbar-subscribe {
  position: absolute;
  top: 50px;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
}

.siderbar-subscribe__title {
  padding-bottom: 40px;
  font-size: 22px;
  font-family: outfit;
  color: #fff;
  line-height: 1.45;
}
@media (max-width: 991px) {
  .siderbar-subscribe__title {
    padding-bottom: 10px;
  }
}

.blog-text__right {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.4px;
  font-family: outfit;
}
@media (max-width: 576px) {
  .blog-text__right {
    font-size: 12px;
  }
}

.sidebar-shop__title {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lines-gray-line);
  padding-bottom: 25px;
}

.sidebar-shop {
  width: 100%;
  padding-bottom: 20px;
}

.sidebar-shop__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
  color: var(--text-heading);
}

.sidebar-checkbox {
  justify-content: space-between;
  align-items: center;
  font-family: "SVN-Gilroy";
}

.sidebar-checkbox--pb {
  padding-bottom: 6px;
}

.sidebar-shop__item {
  padding-top: 25px;
}

.sidebar-checkbox__content {
  gap: 10px;
  align-items: center;
  font-family: "SVN-Gilroy";
}

.sidebar-checkbox--pd {
  padding-left: 25px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.sidebar-checkbox__input {
  background-color: var(--text-text-gray);
  width: 15px;
}

.sidebar-checkbox__item {
  letter-spacing: -0.3px;
  color: var(--text-heading);
  line-height: 1.7;
}

.sidebar-checkbox__item--color {
  color: var(--text-text);
}

.sidebar-checkbox--text {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
}

.sidebar-checkbox__item--text {
  color: #4f77ff;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ddd;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

input[type=checkbox]::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 12px;
  content: "\f00c";
  color: #fff;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

input[type=checkbox]:checked {
  background-color: #292929;
}

input[type=checkbox]:checked::after {
  opacity: 1;
  display: block;
}

.price {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--lines-gray-line);
  margin-top: 15px;
}
.price::before {
  position: absolute;
  content: "";
  background-color: var(--action-blue);
  height: 2px;
  width: calc(100% - 49px);
  right: 0;
}

.price__content {
  justify-content: space-between;
  padding-top: 20px;
}
@media (max-width: 991px) {
  .price__content {
    font-size: 13px;
  }
}
@media (max-width: 799px) {
  .price__content {
    font-size: 18px;
  }
}

.price__box {
  justify-content: space-between;
}

.price__dot--left {
  padding-left: 35px;
}
.price__dot--left::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--action-blue);
  border-radius: 50%;
  top: -5px;
  transform: translateX(10px);
}

.price__dot {
  padding-top: 5px;
  color: var(--text-heading);
  letter-spacing: -0.3px;
  line-height: 1.7;
  position: relative;
}

.price__dot--right::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--action-blue);
  border-radius: 50%;
  top: -5px;
  right: 0;
}

.blog__icon-tab {
  display: none;
}
@media (max-width: 991px) {
  .blog__icon-tab {
    display: block;
  }
}

@media (max-width: 991px) {
  .sidebar--js {
    display: none;
  }
  .sidebar {
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    line-height: 100px;
    font-size: 18px;
    transition: all 0.5s ease;
  }
}
@media (max-width: 991px) {
  div.bar {
    display: block;
  }
}
@media (max-width: 799px) {
  .sidebar {
    max-width: 100%;
    margin-bottom: 100px;
  }
}
.blog {
  gap: 65px;
}
@media (max-width: 1199px) {
  .blog {
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .blog {
    flex-direction: column;
  }
}

.blog__main {
  min-width: 984px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  display: flex;
}

.price {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #e7e5ea;
  margin-top: 15px;
}

.price::before {
  position: absolute;
  content: "";
  background-color: blue;
  height: 2px;
  width: calc(100% - 49px);
  right: 0;
}

.price__content {
  justify-content: space-between;
  padding-top: 20px;
}

.text--uppercase {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 20px;
}

.text--blue {
  color: #4f77ff;
}

.price__dot--left::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4f77ff;
  border-radius: 50%;
  top: -5px;
  transform: translateX(10px);
}

.price__dot--right::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4f77ff;
  border-radius: 50%;
  top: -5px;
  right: 0;
}

.select--width {
  width: 210px;
}

.select {
  border-radius: 5px;
  outline: none;
  border: 1px solid #e7e5ea;
  padding-left: 20px;
  padding-right: 20px;
  color: #7b88a8;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  width: 100%;
}

.product-item__img-content {
  position: relative;
}

.product-item__sale {
  position: absolute;
  top: 10px;
  width: 48px;
  right: 10px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  background: #fda043;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media (max-width: 576px) {
  .product-item__sale {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}

.product-item__img {
  overflow: hidden;
  position: relative;
}
.product-item__img img {
  transition: all 0.3s ease;
  width: 100%;
}

.product-item {
  display: block;
}

.product-item:hover .product-item__img img {
  transform: scale(1.1);
}

.product-item__sold-out {
  width: 68px;
  height: 68px;
  color: #fff;
  background: var(--color-foreground);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  font-weight: 500;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  line-height: 1.2;
  border-radius: 50%;
}

.product-item__img--sold-out::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 1;
}

.product-item__content {
  padding-top: 20px;
  font-size: 16px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
@media (max-width: 991px) {
  .product-item__content {
    padding-top: 10px;
  }
}

.product-item__icon {
  display: flex;
  gap: 15px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 15px;
  position: absolute;
  left: 50%;
  bottom: 16%;
  transform: translateX(-50px);
  z-index: 1;
}
@media (max-width: 991px) {
  .product-item__icon {
    bottom: 70px;
  }
}

.product-item__star {
  padding-top: 8px;
}

.product-item {
  position: relative;
}
.product-item:hover .product-item__icon {
  opacity: 1;
  transform: translate(-50px, -50px);
}
@media (max-width: 991px) {
  .product-item .product-item__icon {
    opacity: 1;
    transform: translate(-50px, -50px);
  }
}

.product-item__icon-wishlist,
.product-item__icon-cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;
}
.product-item__icon-wishlist:hover,
.product-item__icon-cart:hover {
  background-color: var(--color-primary);
}
.product-item__icon-wishlist:hover svg,
.product-item__icon-cart:hover svg {
  color: #fff;
}
.product-item__icon-wishlist:hover svg path,
.product-item__icon-cart:hover svg path {
  fill: #fff;
}
@media (max-width: 991px) {
  .product-item__icon-wishlist,
  .product-item__icon-cart {
    width: 40px;
    height: 40px;
  }
  .product-item__icon-wishlist svg,
  .product-item__icon-cart svg {
    width: 18px;
    height: 18px;
  }
}

.product-item__title {
  font-weight: 600;
  padding-bottom: 8px;
}

.product-item__icon .disable:hover {
  background-color: #fff;
}
.product-item__icon .disable:hover svg {
  color: #000;
}
.product-item__icon .disable:hover svg path {
  fill: #000;
}

.product-price__del {
  font-size: 12px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.product-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

@media (max-width: 576px) {
  .product-price__sale {
    font-size: 15px;
  }
}

.product-price__sale--detail {
  font-size: 18px;
}

.our-store-img {
  padding-left: 30px;
}
@media (max-width: 991px) {
  .our-store-img {
    padding-left: 0;
  }
}
.our-store-img img {
  width: 100%;
}

.our-store {
  display: flex;
  align-items: center;
}

.our-store__box {
  padding-right: 30px;
}
@media (max-width: 991px) {
  .our-store__box {
    padding-right: 0;
  }
}

.our-store__subtitle {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: 600;
  padding-bottom: 8px;
}
@media (max-width: 576px) {
  .our-store__subtitle {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

@media (max-width: 576px) {
  .our-store__br {
    display: none;
  }
}

.our-store__title {
  font-size: 56px;
  margin-top: 24px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .our-store__title {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .our-store__title {
    font-size: 32px;
    margin-top: 7px;
    margin-bottom: 4px;
  }
}

.our-store__description {
  margin-top: 16px;
  padding-top: 30px;
  padding-bottom: 38px;
  text-align: justify;
}
@media (max-width: 991px) {
  .our-store__description {
    margin-top: 4px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 30px;
  }
}

.section-blog__image-tag {
  position: relative;
}

.section-blog__tag {
  position: absolute;
  display: flex;
  gap: 8px;
  right: 15px;
  top: 15px;
}

.section-blog__tag-item {
  padding: 5px 10px;
  background-color: #fbf8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
}

.section-blog__date {
  font-size: 14px;
  font-weight: 400;
}

.section-blog__title {
  padding-top: 16px;
  font-weight: 600;
  font-size: 18px;
}

.section-blog__text {
  padding: 16px 0;
}

.section-blog__content {
  margin-top: 16px;
}

.blog-heading {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 40px;
}

.section-blog__box {
  padding-bottom: 40px;
}

.blog-right__popular {
  display: flex;
  gap: 20px;
  background-color: #F5F5F5;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blog-right {
  padding-left: 30px;
}

.blog-right__title {
  padding-bottom: 5px;
}

.blog-right__date {
  font-size: 12px;
  font-weight: 400;
}

.blog-right__img {
  flex-shrink: 0;
}

.blog-right__box {
  padding-bottom: 40px;
}

.blog-right__tag-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.blog-right__tag-item {
  padding: 10px 8px;
  border: 1px solid #A4A6A3;
  border-radius: 5px;
}

.blog-right__img-button {
  background-image: url(../images/background-blog.jpg);
  background-position: center center;
  background-size: cover;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial__box {
  border: 0.5px solid var(--color-primary);
  border-radius: 15px;
  padding: 15px 20px;
}

.owl-carousel .owl-item img {
  width: unset !important;
}

.testimonial__info {
  display: flex;
  gap: 24px;
  align-items: center;
}

.testimonial__avata {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial__avata img {
  border-radius: 50%;
}

.testimonial__name {
  font-size: 18px;
  font-weight: 500;
}

.testimonial__description {
  padding-bottom: 20px;
  font-weight: 500;
  padding-top: 15px;
}

.mail-form {
  margin-top: 5px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.mail-form .input-mail {
  border: none;
  padding: 14px 10px;
  flex: 1;
}
.mail-form .input-mail:focus-visible {
  outline: 0;
}
.mail-form .input-mail::-moz-placeholder {
  font-size: 14px;
  font-family: SVN-Gilroy;
  font-weight: 400;
  line-height: 1.6;
}
.mail-form .input-mail::placeholder {
  font-size: 14px;
  font-family: SVN-Gilroy;
  font-weight: 400;
  line-height: 1.6;
}

input[type=text] {
  padding: 12px 20px;
  line-height: 1.6;
  font-family: SVN-Gilroy;
  font-size: 14px;
  border-radius: 5px;
  border: 0.5px solid #000;
}

.banner-video {
  background-image: url("../images/slideshow5.jpg");
  min-height: 92vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-video__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  min-height: 92vh;
  max-width: 890px;
  margin: 0 auto;
  text-align: center;
}

.banner-video__title {
  font-weight: 600;
  font-size: 45px;
  color: #fff;
  padding-bottom: 40px;
}

.banner-video__content {
  padding-bottom: 40px;
}

.banner-video__play-now {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s infinite;
}
.ripple::before {
  animation-delay: 0.9s;
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s infinite;
}
.ripple::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s infinite;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.banner-video__icon-play {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  text-align: center;
}

.popup iframe {
  width: 60%;
  height: 80%;
  margin: 5% auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

.section-title {
  text-align: center;
}

.section-title__subtitle {
  font-size: 24px;
}

.section-title__title {
  font-size: 45px;
  padding: 20px 0;
  margin-bottom: 40px;
  line-height: 1;
  position: relative;
}
.section-title__title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--color-primary);
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.slide-show {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide-show__items {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s all;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.slide-show__items:nth-child(1),
.slide-show__items:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.slide-show__items:nth-child(3) {
  left: 50%;
}

.slide-show__items:nth-child(4) {
  left: calc(50% + 220px);
}

.slide-show__items:nth-child(5) {
  left: calc(50% + 440px);
}

.slide-show__items:nth-child(n+6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.slide-show__content {
  position: absolute;
  top: 50%;
  color: #fff;
  transform: translate(0, -50%);
  text-align: left;
  display: none;
  max-width: 600px;
}

.slide-show__items:nth-child(2) .slide-show__content {
  display: block;
  z-index: 10;
}

.slide-show__subheading {
  font-size: 18px;
  letter-spacing: 4px;
  opacity: 0;
  text-transform: uppercase;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.slide-show__heading {
  font-size: 70px;
  opacity: 0;
  color: #fff;
  padding-top: 10px;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  padding-bottom: 15px;
}

.slide-show__description {
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  padding-bottom: 45px;
}

.slide-show__button {
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.pagination {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.pagination__item {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  width: 50px;
  height: 50px;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
  transition: all 0.3s ease;
}
.pagination__item:hover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-primary);
  cursor: pointer;
}
.pagination__item:nth-child(3) {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-primary);
}

/* Columns */
.product-detail__left {
  position: relative;
}

.product-detail__right {
  margin-top: 40px;
  padding-left: 30px;
}

/* Left Column */
.product-detail__left img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.product-detail__left img.active {
  opacity: 1;
}

/* Product Color */
.product-detail__size-box {
  margin-bottom: 30px;
}

.product-detail__size-choose input[type=radio] {
  display: none;
}

.product-detail__size-choose input[type=radio] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.product-detail__size-choose input[type=radio]#red + label span {
  background-color: #C91524;
}

.product-detail__size-choose input[type=radio]#blue + label span {
  background-color: #314780;
}

.product-detail__size-choose input[type=radio]#black + label span {
  background-color: #323232;
}

.product-detail__size-choose input[type=radio]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail__size-choose {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* Product Price */
.product-detail__kg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.product-detail__title {
  font-size: 24px;
  padding-bottom: 20px;
}

.product-detail__price {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-detail__bage {
  padding: 3px 10px 4px 10px;
  background-color: #E51003;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  line-height: 1;
}

.product-detail__vender {
  text-transform: uppercase;
  color: var(--color-accent);
  letter-spacing: 2px;
}

.product-detail__price {
  padding-top: 20px;
  padding-bottom: 30px;
}

.product-detail__description {
  text-align: justify;
  padding-bottom: 20px;
}

.product-detail__quantity {
  display: flex;
  gap: 30px;
  align-items: center;
}

.quantity {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.quantity__number {
  border: none;
  width: 40px;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
}

.quantity__minus {
  background-color: unset;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 15px;
}

.quantity__plus {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 15px;
  background-color: unset;
}

.product-detail__add-cart {
  width: 50%;
  padding: 15px 30px;
}

.product-detail__button-cart {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 0;
}

.product-detail__buy-button {
  width: 50%;
}

.product-detail__shipping {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.product-detail__box {
  padding-bottom: 60px;
}

.product-detail__title-component {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 30px;
}

.product-detail__component {
  margin-bottom: 30px;
  text-align: justify;
}

.product-detail__component-img img {
  width: 100%;
}

.product-detail__policy {
  padding: 19px 0;
  background-color: #F8F5F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.product-detail__box-policy {
  display: flex;
  flex-direction: column;
}

.product-detail__component-img {
  flex: 1;
}
.product-detail__component-img img {
  height: 100%;
}

.product-detail__title-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.star-comment-sale {
  display: flex;
}

.star-comment-sale__comment, .star-comment-sale__sale {
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-foreground) 0.5;
  opacity: 0.5;
}
.star-comment-sale__comment::before, .star-comment-sale__sale::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: var(--color-foreground);
  opacity: 0.5;
  left: -15px;
}

.star-comment-sale__star {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  position: relative;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-accent);
  transition: all 0.3s ease;
}

.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 18px;
  text-align: center;
  color: var(--color-foreground);
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}

.tab-item.active {
  opacity: 1;
  color: var(--color-accent);
}

.account-tab__item.active {
  opacity: 1;
}

.tab-content {
  padding: 28px 0;
}

.tab-pane {
  color: #333;
  display: none;
  transform: 0.3s ease all;
}

.order-tab {
  transition: 0.3s ease all;
  display: none;
}

.tab-pane.active {
  display: block;
  animation: transitionY 0.3s;
  animation-duration: 0.5s;
}

.order-tab.active {
  display: block;
  animation: transitionY 0.3s;
  animation-duration: 0.5s;
}

@keyframes transitionY {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.section-tab {
  min-height: 350px;
}

.tab-pane__box {
  display: flex;
  gap: 50px;
}

.tab-pane__content {
  max-width: 860px;
}

.review-comment__box {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.review-comment__name {
  font-size: 18px;
  color: var(--color-primary);
  font-weight: 600;
  padding-bottom: 20px;
}

.review-comment__title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 600;
}

.review-comment__star {
  display: flex;
  align-items: center;
}

.review-comment__product-detail {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 0.5px solid;
  font-size: 12px;
}

.review-comment__description {
  padding-top: 10px;
  padding-bottom: 5px;
}

.review-comment__box-img {
  padding-top: 5px;
  display: flex;
  gap: 16px;
}

.review-comment__avata {
  border-radius: 50%;
  border: 1px dashed;
  width: 70px;
  height: 70px;
  padding: 4px;
}

.review-comment {
  padding-bottom: 40px;
}

.breadcrumb {
  background-color: var(--color-primary);
  color: var(--color-background);
  background-position: center 60px;
  background-image: url(../images/background-breadcumb.png);
}

.breadcrumb__heading-box {
  padding: 210px 0;
}

.breadcrumb__heading {
  color: var(--color-accent);
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.breadcrumb__subheading {
  color: var(--color-accent);
  font-size: 20px;
  padding-top: 15px;
}

.cart-title {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
  justify-content: space-between;
}

.cart-title__list {
  display: flex;
  width: 50%;
}

.cart-box__title {
  font-size: 24px;
  padding-bottom: 40px;
}

.cart-title__content {
  max-width: 180px;
  width: 100%;
}

.cart-quantity {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.cart-quantity__minus {
  background-color: unset;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
}

.cart-quantity__number {
  border: none;
  width: 40px;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
}

.cart-quantity__plus {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px 15px;
  background-color: unset;
}

.cart-mini {
  display: flex;
  gap: 30px;
  padding: 30px 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 30px;
}

.cart-mini--boder {
  box-shadow: none;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}

.cart-mini__box {
  display: flex;
  gap: 30px;
  width: 100%;
}

.cart-mini__content {
  display: flex;
  width: 100%;
}

.cart-mini__name-product {
  width: 42%;
}

.cart-mini__list-item {
  width: 58%;
  display: flex;
}

.cart-mini__price {
  max-width: 180px;
  width: 100%;
}

.cart-mini__quantity {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 180px;
  width: 100%;
}

.cart-mini__money {
  max-width: 180px;
  width: 100%;
}

.cart-mini__title {
  font-size: 18px;
}

.cart-mini__name-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-mini__checkbox {
  display: flex;
}

.cart-mini__description {
  font-size: 14px;
}

.cart-mini__sale,
.cart-mini__money {
  font-weight: 600;
  padding-bottom: 5px;
}

.cart-mini__del {
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.cart-mini__edit {
  flex: 1;
  text-align: end;
}

.cart-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .cart-checkout {
    flex-wrap: wrap;
  }
}

.cart-checkout__money {
  display: flex;
  align-items: center;
}
.cart-checkout__money .cart-checkout__text {
  padding: 0 15px;
}
.cart-checkout__money .cart-checkout__sum {
  padding: 0 15px;
  margin-right: 45px;
  font-weight: 600;
}

.cart-product {
  padding-bottom: 20px;
  border-bottom: 1px solid #a5a3a3;
  margin-bottom: 20px;
}

.cart-product-btn {
  text-align: center;
}

.cart-checkout--pt10 {
  padding-top: 10px;
}

.cart-mini__list-item--end,
.cart-title__list--end {
  justify-content: flex-end;
  text-align: end;
}

.cart-title--end {
  text-align: end;
}

.cart-box-checkout {
  display: flex;
  gap: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px 80px;
  flex-direction: column;
}

.cart-address {
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}
.cart-address i {
  color: var(--color-accent);
  font-size: 28px;
}

.cart-info__account-name {
  padding-bottom: 10px;
}

.cart-info__account {
  font-weight: 600;
}

.cart-info {
  display: flex;
  font-size: 18px;
}
.cart-info .cart-info__address {
  padding-left: 40px;
}
.cart-info .cart-info__edit {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.cart-checkout__textareare {
  max-width: 420px;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  padding: 10px 20px;
  line-height: 1.4;
  font-size: 16px;
}
.cart-checkout__textareare:focus-visible {
  outline: 0.3px solid rgba(0, 0, 0, 0.5);
}

.cart-checkout__note {
  display: flex;
  gap: 45px;
  width: 50%;
  align-items: center;
}

.checkout-tab__payment {
  min-width: 80px;
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  color: var(--color-foreground);
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.5s ease;
  font-weight: 600;
}

.tab-item--border {
  border: 1px solid;
  padding: 15px 40px;
  border-radius: 5px;
}

.tab-item--border.active {
  border: unset;
}

.checkout-tab {
  overflow: hidden;
  border-radius: 5px;
  padding-top: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.checkout-tab .tab-pane__box {
  gap: 30px;
  align-items: center;
  padding-bottom: 20px;
}
.checkout-tab .tab-pane__img {
  display: flex;
  gap: 30px;
}
.checkout-tab .tab-content {
  padding: 30px 80px 0 80px;
  border-top: 1px solid rgba(165, 163, 163, 0.5);
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}
.checkout-tab .tabs--cart {
  margin-bottom: 30px;
}
.checkout-tab .tabs {
  justify-content: space-between;
  padding: 0 80px;
}

.product-checkbox {
  justify-content: space-between;
  align-items: center;
}

.product-checkbox__content {
  gap: 10px;
  align-items: center;
}

.product-checkbox__input {
  border: 1px solid;
  width: 15px;
}

.product-checkbox__item {
  letter-spacing: -0.3px;
  color: var(--text-heading);
  line-height: 1.7;
}

input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #000;
}

input[type=checkbox]::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 12px;
  content: "\f00c";
  color: #fff;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

input[type=checkbox]:checked {
  background-color: var(--color-accent);
  border: 1px var(--color-accent);
}

input[type=checkbox]:checked::after {
  opacity: 1;
  display: block;
}

.checkout-button {
  padding: 20px 80px 30px 80px;
}

.checkout-button__bill {
  display: flex;
  justify-content: flex-end;
}

.checkout-button__label, .checkout-button__money {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-button__money {
  text-align: right;
  max-width: 200px;
  width: 100%;
}
.checkout-button__money span:nth-child(2) {
  color: var(--color-accent);
  font-weight: 600;
}

.checkout-button__buy-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.checkout-button__link-policy {
  text-decoration: underline;
}

.sign-in__form,
.login__form,
.forgot-password__form {
  max-width: 533px;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  background: var(--button-hover, #fff);
  padding: 20px 60px;
  width: 100%;
}
.sign-in__form input[type=text],
.sign-in__form input[type=password],
.login__form input[type=text],
.login__form input[type=password],
.forgot-password__form input[type=text],
.forgot-password__form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: SVN-Gilroy;
}
.sign-in__form .sign-in__title,
.sign-in__form .login__title,
.login__form .sign-in__title,
.login__form .login__title,
.forgot-password__form .sign-in__title,
.forgot-password__form .login__title {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}
.sign-in__form .sign-in__label,
.sign-in__form .login__label,
.sign-in__form .forgot-password__label,
.login__form .sign-in__label,
.login__form .login__label,
.login__form .forgot-password__label,
.forgot-password__form .sign-in__label,
.forgot-password__form .login__label,
.forgot-password__form .forgot-password__label {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.sign-in__form .sign-in__label div,
.sign-in__form .login__label div,
.sign-in__form .forgot-password__label div,
.login__form .sign-in__label div,
.login__form .login__label div,
.login__form .forgot-password__label div,
.forgot-password__form .sign-in__label div,
.forgot-password__form .login__label div,
.forgot-password__form .forgot-password__label div {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  flex: 1;
}
.sign-in__form .sign-in__label span,
.sign-in__form .login__label span,
.sign-in__form .forgot-password__label span,
.login__form .sign-in__label span,
.login__form .login__label span,
.login__form .forgot-password__label span,
.forgot-password__form .sign-in__label span,
.forgot-password__form .login__label span,
.forgot-password__form .forgot-password__label span {
  padding: 0 16px;
}
.sign-in__form .sign-in__social,
.sign-in__form .login__social,
.sign-in__form .forgot-password__social,
.login__form .sign-in__social,
.login__form .login__social,
.login__form .forgot-password__social,
.forgot-password__form .sign-in__social,
.forgot-password__form .login__social,
.forgot-password__form .forgot-password__social {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}
.sign-in__form .sign-in__policy,
.login__form .sign-in__policy,
.forgot-password__form .sign-in__policy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.sign-in__form .sign-in__policy a,
.login__form .sign-in__policy a,
.forgot-password__form .sign-in__policy a {
  text-underline-offset: 4px;
  text-decoration: underline;
}
.sign-in__form .sign-in__login,
.login__form .sign-in__login,
.forgot-password__form .sign-in__login {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.sign-in__form .sign-in__login a,
.login__form .sign-in__login a,
.forgot-password__form .sign-in__login a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.sign-in__form input[type=submit],
.login__form input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  font-family: SVN-Gilroy;
  padding: 14px 20px;
  margin: 20px 0;
  transition: 0.3s ease-in-out all;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.sign-in__form input[type=submit]:hover,
.login__form input[type=submit]:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: var(--color-accent);
}

.forgot-password__button {
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}
.forgot-password__button .forgot-password__cancel {
  width: 50%;
  border: 1px solid var(--color-primary);
  font-family: SVN-Gilroy;
  padding: 14px 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.forgot-password__button .forgot-password__next {
  width: 50%;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid #fff;
  font-family: SVN-Gilroy;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.forgot-password__button input[type=submit]:hover {
  background-color: var(--color-accent);
  border: 1px solid #fff;
  color: #fff;
}

.sign-in,
.login,
.forgot-password {
  display: flex;
  align-items: center;
}

.sign-in__bg,
.login__bg,
.forgot-password__bg {
  padding-left: 100px;
}

.login__forgot-password {
  text-align: right;
  padding-bottom: 30px;
}

.login__sign-in, .forgot-password__sign-in {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}
.login__sign-in a, .forgot-password__sign-in a {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.forgot-password__subtitle {
  padding-bottom: 40px;
  text-align: center;
}

.forgot-password__title {
  text-transform: uppercase;
  padding-bottom: 15px;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

.product-order {
  display: flex;
  gap: 15px;
  width: 100%;
}

.product-order__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.product-order__content .product-order__name-product {
  display: flex;
  flex-direction: column;
}
.product-order__content .product-order__title {
  font-size: 18px;
}
.product-order__content .product-order__description {
  font-size: 14px;
}
.product-order__content .product-order__quantity {
  font-size: 14px;
}

.order-tab {
  position: relative;
}
.order-tab .tab-content {
  padding: 30px 0;
}
.order-tab .tab-content .tab-pane .tab-pane__box-product {
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 30px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .tab-pane__label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
  padding: 0 30px 15px;
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .product-order {
  padding: 30px;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .order-money {
  text-align: right;
  padding-right: 30px;
  padding-top: 30px;
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .order-money .order-money__label {
  padding-bottom: 20px;
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .order-money .order-money__label span {
  color: var(--Button_hover, #f1ab2c);
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}
.order-tab .tab-content .tab-pane .tab-pane__box-product .order-money .order-money__button {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.order-file__edit-name input,
.order-file__edit-date input {
  padding: 10px 15px;
  color: rgba(176, 168, 168, 0.6);
  font-size: 14px;
  border-radius: 5px;
  border: 0.3px solid var(--primary-color, #194a33);
  max-width: 330px;
  line-height: 1.6;
  width: 100%;
}

.file-form {
  display: flex;
  justify-content: center;
}
.file-form .order-table-left {
  text-align: right;
  padding-right: 15px;
  padding-top: 20px;
}
.file-form .order-table-right {
  padding-left: 15px;
  display: flex;
  gap: 30px;
  padding-top: 20px;
  align-items: center;
}
.file-form .order-table-right input[type=radio] {
  accent-color: #bd8332;
  cursor: pointer;
}
.file-form .order-table-right .file-gender {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  gap: 5px;
}

.order-file__edit {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  line-height: 1;
  justify-content: center;
}

.order-file {
  display: flex;
  justify-content: space-between;
}
.order-file .order-file__avata {
  padding-right: 60px;
}
.order-file .order-file__avata .order-file__avata-img {
  padding-top: 40px;
  padding-bottom: 20px;
}
.order-file .order-file__avata .order-file__info {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  letter-spacing: 0.238px;
  display: block;
}

.order-address {
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.order-address .order-address__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 20px;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}
.order-address .order-address__box {
  padding: 0px 15px;
}
.order-address .order-address__box .order-address__item {
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
.order-address .order-address__box .order-address__item:last-child {
  border-bottom: unset;
}
.order-address .order-address__box .order-address__item .order-address__text {
  padding-top: 20px;
}
.order-address .order-address__box .order-address__item .order-address__edit {
  padding-bottom: 30px;
  justify-content: flex-end;
}

.order-address__button {
  padding: 5px 20px;
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order-address__button--accent {
  border: 1px solid var(--color-accent);
  background-color: unset;
  color: #000;
}

.order-address__button--border {
  border: 0.5px solid var(--black, #000);
  background-color: unset;
  color: #000;
}

.order-forgot-pw {
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 25px 0;
  max-width: 645px;
  width: 100%;
  margin: 0 auto;
}
.order-forgot-pw h3 {
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(165, 163, 163, 0.5);
}
.order-forgot-pw .order-forgot-pw__box {
  padding: 30px 112px;
}
.order-forgot-pw .order-forgot-pw__box .order-forgot-pw__input {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.order-forgot-pw .order-forgot-pw__box .order-forgot-pw__input label {
  padding-bottom: 10px;
}
.order-forgot-pw .order-forgot-pw__box .order-forgot-pw__input input[type=text] {
  border-radius: 5px;
  border: 0.3px solid var(--color-primary);
  padding: 12px 20px;
  width: 420px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.order-forgot-pw .order-forgot-pw__box ul {
  margin-bottom: 30px;
  padding-left: 18px;
}
.order-forgot-pw .order-forgot-pw__box ul li {
  list-style: unset;
}
.order-forgot-pw .order-forgot-pw__box ul li span {
  color: var(--color-accent);
}

.order-info {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.order-info h3 {
  font-size: 24px;
  padding-bottom: 20px;
}
.order-info .order-info__box tr td {
  padding-top: 20px;
}
.order-info .order-info__box tr td:nth-child(2) {
  padding-left: 30px;
}

.address-popup {
  width: 708px;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  background: #fff;
  transform: translate(-50px, -50px);
  opacity: 0;
  transition: 0.3s ease-in all;
}
.address-popup h3 {
  font-size: 24px;
  padding-bottom: 10px;
}
.address-popup .address-popup__input {
  display: flex;
  gap: 30px;
}
.address-popup input[type=text] {
  margin-top: 30px;
  width: 100%;
}
.address-popup .address-popup__new-address {
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.address-popup .address-popup__button {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.address-popup .address-popup__button .button-border {
  text-transform: inherit;
  font-weight: 500;
}
.address-popup .address-popup__submit {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.address-popup--opacity {
  opacity: 1;
}

.terms-privacy {
  list-style: 0.5px;
}
.terms-privacy h3 {
  padding-bottom: 30px;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.terms-privacy h4 {
  padding-bottom: 20px;
}
.terms-privacy span {
  padding-bottom: 25px;
  display: block;
}
.terms-privacy ul {
  padding-bottom: 25px;
  padding-left: 30px;
}
.terms-privacy ul li {
  list-style: unset;
}

.account-tab__box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account-tab__icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.account-tab__box-icon {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  line-height: 1;
}

.account-tab__item {
  margin-bottom: 30px;
  cursor: pointer;
}

.account-tab .account-tab__item.active {
  color: var(--color-accent);
}
.account-tab .account-tab__item.active .account-tab__edit {
  color: #000;
}
.account-tab .account-tab__item.active .account-tab__icon svg path {
  stroke: var(--color-accent);
}

/* Style the dropdown links */
.dropdown-content {
  display: none;
  z-index: 1;
  padding-left: 26px;
}
.dropdown-content .account-tab__item {
  padding: 12px 16px;
  display: block;
  margin-bottom: 0;
}

.dropdown {
  margin-bottom: 30px;
  cursor: pointer;
}

.shop-box__title {
  color: var(--text-heading);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.shop-box--style {
  justify-content: space-between;
  align-items: center;
}

.blog-main__style {
  gap: unset;
}

.shop-box {
  width: 100%;
  border-bottom: 1px solid var(--lines-gray-line);
  padding-bottom: 10px;
}

.select--width {
  width: 210px;
}

.shop-product {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-height: 100%;
  transition: all 0.3s ease-in-out;
}
.shop-product:nth-last-child(1), .shop-product:nth-last-child(2), .shop-product:nth-last-child(3) {
  padding-bottom: 40px;
}
.shop-product:hover .shop-product__img {
  padding-top: 0;
}

.product-img img {
  transition: all 0.3s ease-in-out;
}
.product-img img:hover {
  scale: 1.1;
}

.shop-product__img {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  height: 270px;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
  background-color: var(--bgbg-light);
}

.shop-product__item {
  max-width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.shop-product__item:hover {
  transform: scale(1.2);
}

.shop-product__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-heading);
  letter-spacing: 0.4px;
  text-align: center;
}

.shop-product__content {
  font-size: 16px;
  color: var(--text-text);
  text-align: center;
  font-family: "DM sans";
}

.pagination--style {
  padding-top: 40px;
}

.pagination--20 {
  padding-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --color-foreground: #000;
  --color-background: #ffff;
  --color-accent: #fda043;
  --color-primary: #194a33;
}

body {
  background-color: #fff;
  color: var(--color-foreground);
  font-family: SVN-Gilroy;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}

.wrapper {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-foreground);
}

img {
  display: block;
  max-width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.disable {
  opacity: 0.5;
  cursor: default;
}

li {
  list-style: none;
}

.section {
  padding: 40px 0;
}

.backtop {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #000;
  font-size: 20px;
  color: #fff;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.title-border {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a5a3a3;
  margin-bottom: 30px;
}

.title-border--none {
  border-bottom: unset;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1320px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
}
@media (max-width: 991px) {
  .row {
    padding: 0 5px;
  }
}

.col {
  width: calc(var(--col-xs) / var(--grid) * 100%);
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
  padding-top: calc(var(--grid-col-gap-horizontal) / 2);
  padding-bottom: calc(var(--grid-col-gap-horizontal) / 2);
}
@media (max-width: 991px) {
  .col {
    padding-left: calc(var(--grid-col-gap-vertical) / 3);
    padding-right: calc(var(--grid-col-gap-vertical) / 3);
    padding-top: calc(var(--grid-col-gap-horizontal) / 3);
    padding-bottom: calc(var(--grid-col-gap-horizontal) / 3);
  }
}

@media (min-width: 390px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }
}
@media (min-width: 768px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-xl) / var(--grid) * 100%);
  }
}/*# sourceMappingURL=style.css.map */