.button {
  padding: 15px 40px;
  color: var(--color-background);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: var(--color-primary);
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  @media (max-width: 991px) {
    margin: 0;
  }
}

button {
  border: unset;
  cursor: pointer;
}

.button-italic {
  font-style: italic;
  text-decoration: underline;
  background: none;
}

.button-accent {
  background-color: var(--color-accent);
  padding: 15px 20px;
}

.slide-show-button {
  position: absolute;
  bottom: 30px;
  z-index: 11;
  text-align: center;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.slide-show-button__next, .slide-show-button__prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s ;
  &:hover {
    background-color: var(--color-accent);
    color: #fff;
  }
}

.button-border {
  padding: 15px 40px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  @media (max-width: 991px) {
    margin: 0;
  }
}