.contact-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 500;
}

.contact {
  text-align: center;
  .contact__name-email,
  .contact__phone-subject {
    display: flex;
    width: 100%;
    gap: 30px;
    padding-bottom: 30px;
    input {
      width: 50%;
      border: 0.5px solid #cccc;
    }
  }
  .contact__textarea {
    width: 100%;
    padding: 20px;
    padding: 12px 20px;
    line-height: 1.6;
    font-family: SVN-Gilroy;
    font-size: 14px;
    border: 0.5px solid #cccc;
    border-radius: 5px;
  }
  button {
    margin-top: 30px;
  }
}

.contact-box {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 45px 50px 50px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-20px);
  }
  .contact-box__title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
  }
  .contact-box__location {
    padding-bottom: 10px;
  }
  .contact-box__time {
    position: relative;
    padding-left: 20px;
    
    &::after {
      content: "";
      position: absolute;
      left: 10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #ccc;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}