.footer  {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding-top: 45px;
  margin-top: 80px;
  @media(max-width: 576px) {
    margin-top: 40px;
  }
}

.footer__box-content {
  padding-top: 35px;
}

.footer__description, .footer__phone, .footer__address {
  padding-bottom: 20px;
}

.footer__link-list {
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
  &::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--color-background);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.footer__item-link {
  li {
    padding-top: 20px;
    a {
      transition: 0.3s all ease;
    }
    &:hover {
      a {
        padding-left: 10px;
        color: var(--color-accent);
      }
    }
  }
  
}

.footer__border {
  border-bottom: 0.15px solid #fff;
  padding-bottom: 25px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  flex-wrap: wrap;
}