.header {
  background-color: var(--color-primary);
  color: #fff;
}

.header-menu {
  display: flex;
  justify-content: center;
  .header-menu__item {
    padding: 20px;
    cursor: pointer;
  }
  @media (max-width: 991px) {
    display: none;
  }
}

.header-icon {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header-icon__avata {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.header-icon__box {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icon__search,
.header-icon__avata,
.header-icon__wishlist,
.header-icon__cart {
  margin: 0 10px;
  cursor: pointer;
}

.header-icon__cart {
  margin-right: 0;
  line-height: 0;
}

.header-icon__search {
  margin-left: 0;
}

// header-transparent

.header--transparent {
  background-color: transparent;
}

.header--fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header__logo {
  @media (max-width: 991px) {
    order: 1;
  }
}

.header-icon {
  @media (max-width: 991px) {
    order: 1;
  }
}

.hamburger-menu {
  display: none;
  @media (max-width: 991px) {
    display: inline-block;
    cursor: pointer;
  }
}

.header__logo-green {
  display: none;
}

.logo-block {
  display: block;
}

.logo-hidden {
  display: none;
}

.header-fixed {
  background-color: #fff;
  animation: translate-header 1s ease;
  transition: 0.5s all ease;
  color: var(--color-foreground);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  svg {
    path {
      fill: var(--color-foreground)
    }
  }
}

@keyframes translate-header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
