.header-box {
  background-color: #fff;
}

.header-menu {
  display: flex;
  justify-content: center;
  .header-menu__item {
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: var(--color-accent);
    }
  }
  @media (max-width: 991px) {
    position: absolute;
    flex-direction: column;
    background: #fff;
    color: #000;
    height: 100dvh;
    width: 300px;
    left: -300px;
    transition: 0.3s ease all;
    top: 0;
    justify-content: flex-start;
  }
}

.menu-block {
  left: 0;
}

.header-icon {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    order: 1;
    justify-content: center;
  }
}

.header-icon__box {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icon__search,
.header-icon__avata, .header-icon__avata-svg,
.header-icon__wishlist,
.header-icon__cart {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    transition: all ease 0.3s;
  }
  &:hover {
    color: var(--color-accent);
    svg {
      color: var(--color-accent);
      path {
        fill: var(--color-accent)
      }
    }
  }
  a {
    line-height: 0;
  }
}

.header-icon__cart {
  margin-right: 0;
  line-height: 0;
}

.header-icon__search {
  margin-left: 0;
}

// header-transparent

.header--transparent {
  background-color: transparent;
  color: #fff;
}

.header--fixed {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-icon {
  @media (max-width: 991px) {
    order: 1;
  }
}

.hamburger-menu {
  display: none;
  @media (max-width: 991px) {
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    padding: 20px 0;
    z-index: 10000;
  }
}

.header__logo-green {
  display: none;
}

.logo-block {
  display: block;
}

.logo-hidden {
  display: none;
}

.header-fixed {
  background-color: #fff;
  animation: translate-header 1s ease;
  transition: 0.5s all ease;
  color: var(--color-foreground);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  svg {
    path {
      fill: var(--color-foreground);
    }
  }
  .hamburger-menu {
    svg {
      path {
        stroke: var(--color-foreground);
      }
    }
  }
}

.menu-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 991px) {
    justify-content: flex-start;
  }
}

@keyframes translate-header {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


.header-icon__avata {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  @media(max-width: 576px) {
    display: none;
  }
}

.header-icon__avata-svg {
  @media(max-width: 576px) {
    display: none;
  }
}

.header-icon__wishlist {
  @media(max-width: 576px) {
    display: none;
  }
}

.header-menu__item--accent {
  color: var(--color-accent);
  a {
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: var(--color-accent);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
}