/* Columns */
.product-detail__left {
  position: relative;
  flex: 1;
  img {
    width: 100%;
  }
}
 
.product-detail__right {
  padding-left: 30px;
  @media(max-width: 1200px) {
    padding-left: unset;
  }
}
 
.product-detail__left img.active {
  opacity: 1;
}

/* Product Color */
.product-detail__size-box {
  margin-bottom: 20px;
}
 
.product-detail__size-choose input[type="radio"] {
  display: none;
}
 
.product-detail__size-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.product-detail__size-choose input[type="radio"]#red + label span {
  background-image: url(../images/product-card1.jpg);
}
.product-detail__size-choose input[type="radio"]#blue + label span {
  background-image: url(../images/product2.jpg);
}
.product-detail__size-choose input[type="radio"]#black + label span {
  background-image: url(../images/product3.jpg);
  opacity: 0.5;
}
 
.product-detail__size-choose input[type="radio"] + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail__size-choose {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* Product Price */

.product-detail__kg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.product-detail__title {
  font-size: 24px;
  padding-bottom: 20px;
}

.product-detail__price {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-detail__bage {
  padding: 3px 10px 4px 10px;
  background-color: #E51003;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  line-height: 1;
}

.product-detail__vender {
  text-transform: uppercase;
  color: var(--color-accent);
  letter-spacing: 2px;
}

.product-detail__price {
  padding-top: 15px;
  padding-bottom: 15px;
}

.product-detail__description {
  text-align: justify;
  padding-bottom: 20px;
}

.product-detail__quantity {
  display: flex;
  gap: 30px;
  align-items: center;
}

.quantity {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.quantity__number {
  border: none;
  width: 40px;
  text-align: center;
  -webkit-appearance: none;
  outline: none;
}


.quantity__minus {
  background-color: unset;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 15px;
}

.quantity__plus {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 15px;
  background-color: unset;
}

.product-detail__add-cart {
  width: 50%;
  padding: 15px 30px;
  color: var(--color-primary);
  @media( max-width: 576px) {
    padding: 12px 20px;
  }
}

.product-detail__button-cart {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 0;
  @media(max-width: 1200px) {
    gap: 20px;
  }
}

.product-detail__buy-button {
  width: 50%;
}

.product-detail__shipping {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.product-detail__title-component {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 30px;
}

.product-detail__component {
  margin-bottom: 30px;
  text-align: justify;
}

.product-detail__component-img {
  img {
    width: 100%;
  }
}

.product-detail__policy {
  padding: 19px 0;
  background-color: #F8F5F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.product-detail__box-policy {
  display: flex;
  flex-direction: column;
}

.product-detail__component-img {
  flex: 1;
  img {
    height: 100%;
  }
}

.product-detail__title-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.product-detail__left-img  {
  display: flex;
  gap: 30px;
  @media(max-width: 991px) {
    flex-direction: column-reverse;
  }
}

.product-detail__thumbnail {
  img {
    padding-bottom: 25px;
  }
  @media(max-width: 991px) {
    display: flex;
    gap: 25px;
  }
}

.product-item__title-can {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}