.section-title {
  text-align: center;
}

.section-title__subtitle {
  font-size: 24px;
}

.section-title__title {
  font-size: 45px;
  padding: 20px 0;
  margin-bottom: 40px;
  line-height: 1;
  position: relative;
  &::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}