.section-wishlist {
  .product-item__icon-wishlist {
    svg {
      color: var(--color-accent);
      path {
        fill: var(--color-accent)
      }
    }
  }
}

.section-wishlist__arrange {
  display: flex;
  justify-content: flex-end;
}