* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}
:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --color-foreground: #000;
  --color-background: #ffff;
  --color-accent: #FDA043;
  --color-primary: #194A33;
}
body {
  background-color: #fff;
  color: var(--color-foreground);
  font-family: SVN-Gilroy;
  font-size: 15px;
  line-height: 1.375;
  font-weight: 500;
}
.wrapper {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVN-Gilroy";
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-background);
  font-feature-settings: "clig" off, "liga" off;
}

img {
  display: block;
  max-width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.disable {
  opacity: 0.5;
  cursor: default;
}