* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --color-foreground: #000;
  --color-background: #ffff;
  --color-accent: #fda043;
  --color-primary: #194a33;
}
body {
  background-color: #fff;
  color: var(--color-foreground);
  font-family: SVN-Gilroy;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}
.wrapper {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-foreground);
}

img {
  display: block;
  max-width: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.disable {
  opacity: 0.5;
  cursor: default;
}

li {
  list-style: none;
}

.section {
  padding: 40px 0;
}

.backtop {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #000;
  font-size: 20px;
  color: #fff;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.d-flex {
  display: flex;
}